/* src/FragranceCard.css */

.fragrance-card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 1px solid #ccc;
    padding: 20px ;
    margin: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
.fragrance-card-display {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center image vertically */
    padding-right: 20px;
  }
  
.fragrance-card-display img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 4px;
    justify-content: center;
  }
  
.fragrance-card-details {
    padding: 20px;
  }
  
.fragrance-card-title {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
.fragrance-card-price-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
.fragrance-card-price-list li {
    margin-bottom: 8px;
  }
  
.fragrance-card-name{
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    font-size: 15px;
}

